In [39]:
import requests
import pandas as pd

In [ ]:
#A través de está API do instituto de arte de Chicago realiza as seguintes tarefas
#https://api.artic.edu/docs/#introduction

In [ ]:
#Carga nunha lista o título de todas as obras de monet y el acceso a sus respectivas APIS

In [69]:
url = 'https://api.artic.edu/api/v1/artworks/search?q=monet'
resp = requests.get(url)

In [72]:
todos = resp.json()['data']
lista_Titulos = []
lista_Temp = []

for i in todos:
    titulo = i['title']
    api = i['api_link']
    lista_Temp.extend([titulo, api])
    lista_Titulos.append(lista_Temp)
    lista_Temp = []

lista_Titulos

[['Water Lilies', 'https://api.artic.edu/api/v1/artworks/16568'],
 ['Arrival of the Normandy Train, Gare Saint-Lazare',
  'https://api.artic.edu/api/v1/artworks/16571'],
 ['Stacks of Wheat (End of Summer)',
  'https://api.artic.edu/api/v1/artworks/64818'],
 ['Cliff Walk at Pourville', 'https://api.artic.edu/api/v1/artworks/14620'],
 ['Water Lily Pond', 'https://api.artic.edu/api/v1/artworks/87088'],
 ['The Beach at Sainte-Adresse',
  'https://api.artic.edu/api/v1/artworks/14598'],
 ['Bordighera', 'https://api.artic.edu/api/v1/artworks/81537'],
 ['Stacks of Wheat (End of Day, Autumn)',
  'https://api.artic.edu/api/v1/artworks/14624'],
 ['Branch of the Seine near Giverny (Mist)',
  'https://api.artic.edu/api/v1/artworks/16564'],
 ['On the Bank of the Seine, Bennecourt',
  'https://api.artic.edu/api/v1/artworks/81539']]

In [70]:
#A partir de la lista del ejercicio anterior crea un dataframe con las columnas de Titulo y API

In [73]:
df = pd.DataFrame(lista_Titulos, columns=['Titulo','API'])
df

,Titulo,API
0,Water Lilies,https://api.artic.edu/api/v1/artworks/16568
1,"Arrival of the Normandy Train, Gare Saint-Lazare",https://api.artic.edu/api/v1/artworks/16571
2,Stacks of Wheat (End of Summer),https://api.artic.edu/api/v1/artworks/64818
3,Cliff Walk at Pourville,https://api.artic.edu/api/v1/artworks/14620
4,Water Lily Pond,https://api.artic.edu/api/v1/artworks/87088
5,The Beach at Sainte-Adresse,https://api.artic.edu/api/v1/artworks/14598
6,Bordighera,https://api.artic.edu/api/v1/artworks/81537
7,"Stacks of Wheat (End of Day, Autumn)",https://api.artic.edu/api/v1/artworks/14624
8,Branch of the Seine near Giverny (Mist),https://api.artic.edu/api/v1/artworks/16564
9,"On the Bank of the Seine, Bennecourt",https://api.artic.edu/api/v1/artworks/81539

In [ ]:
#A partir de la lista creada anteriormente obten las fechas de inicio y de fin de todas las obras

In [47]:
lista_fechas = []
lista_Temp = []

for i in lista_Titulos:
    resp = requests.get(i[1])
    
    fecha_inicio = resp.json()['data']['date_start']
    fecha_fin = resp.json()['data']['date_end']
    
    lista_Temp.extend([fecha_inicio, fecha_fin])
    lista_fechas.append(lista_Temp)
    lista_Temp = []

In [53]:
#Crea un dataframe con los datos obtenidos en el ejercicio anterior

In [52]:
df2 = pd.DataFrame(lista_fechas, columns=['Fecha Inicio', 'Fecha Fin'])
df2

   Fecha Inicio  Fecha Fin
0          1906       1906
1          1877       1877
2          1891       1891
3          1882       1882
4          1900       1900
5          1867       1867
6          1884       1884
7          1891       1891
8          1897       1897
9          1868       1868

In [54]:
#Crea un dataframe en el que se muestren el titulo de la obra y sus respectivas fechas

In [89]:
lista_Final = []
lista_temp = []

for i in range(len(lista_Titulos)):
    lista_Final.append([lista_Titulos[i][0],lista_fechas[i][0], lista_fechas[i][1]])

In [90]:
lista_Final

[['Water Lilies', 1906, 1906],
 ['Arrival of the Normandy Train, Gare Saint-Lazare', 1877, 1877],
 ['Stacks of Wheat (End of Summer)', 1891, 1891],
 ['Cliff Walk at Pourville', 1882, 1882],
 ['Water Lily Pond', 1900, 1900],
 ['The Beach at Sainte-Adresse', 1867, 1867],
 ['Bordighera', 1884, 1884],
 ['Stacks of Wheat (End of Day, Autumn)', 1891, 1891],
 ['Branch of the Seine near Giverny (Mist)', 1897, 1897],
 ['On the Bank of the Seine, Bennecourt', 1868, 1868]]

In [91]:
df_final = pd.DataFrame(lista_Final, columns=['Titulo','Fecha Inicio', 'Fecha Fin'])
df_final

                                             Titulo  Fecha Inicio  Fecha Fin
0                                      Water Lilies          1906       1906
1  Arrival of the Normandy Train, Gare Saint-Lazare          1877       1877
2                   Stacks of Wheat (End of Summer)          1891       1891
3                           Cliff Walk at Pourville          1882       1882
4                                   Water Lily Pond          1900       1900
5                       The Beach at Sainte-Adresse          1867       1867
6                                        Bordighera          1884       1884
7              Stacks of Wheat (End of Day, Autumn)          1891       1891
8           Branch of the Seine near Giverny (Mist)          1897       1897
9              On the Bank of the Seine, Bennecourt          1868       1868